{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">

    </a>
    <h1>Ebram's Website</h1>
    <p>Thank you for visiting my website!</p>
    <a type="button" class="btn btn-lg btn-primary" href="https://www.linkedin.com/in/ebramk/"><span class="glyphicon glyphicon-download"></span> Follow me on Linkedin</a>
  </div>
</div>
<p>My name is Ebram and I’m a recent graduate with a bechler’s degree in Information Technology from NJIT. I’m currently pursing my MBA with a concentration in Management Information Systems. I am also working as a full time Systems Analyst at New Jersey Transit. My team specializes in developing and maintaining all of the customer facing technologies that NJ Transit has to offer. For example, my team maintains all of the station signage, automated announcements, departure vision and more.</p>
  <p>I was born and raised in Egypt until the age of 11 and then came to the United States with my family.</p>
  <p>Furthermore, some of my hobbies include programming, serving the community, and hanging out with my friends and family. Lastly, I’m looking forward to working with you all and learning more about programming.</p>
  <h4>Please check out my soft skills as well as my technical skills below: </h4>
  <table class="table table-sm table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Skill</th>
      <th scope="col"># of Years</th>
      <th scope="col">Strength</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Troubleshooting</td>
      <td>7</td>
      <td>98%</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Website programming</td>
      <td>4</td>
      <td>50%</td>
    <tr>
      <th scope="row">3</th>
      <td>Back end Programming</td>
      <td>4</td>
      <td>40%</td>

    <tr>
      <th scope="row">4</th>
      <td>Project Management</td>
      <td>2</td>
      <td>70%</td>

    <tr>
      <th scope="row">5</th>
      <td>Microsoft Windows</td>
      <td>10</td>
      <td>90%</td>

    <tr>
      <th scope="row">6</th>
      <td>Microsoft Office</td>
      <td>10</td>
      <td>95%</td>

    <tr>
      <th scope="row">7</th>
      <td>Linux</td>
      <td>4</td>
      <td>40%</td>

    <tr>
      <th scope="row">8</th>
      <td>Wordpress</td>
      <td>2</td>
      <td>70%</td>

    </tr>

    </tbody>
  </table>


{% endblock %}
