{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/images/lang-logo.png">

    </a>
    <h1>Ebram's Website</h1>
    <p>Thank you for visiting my website!</p>
    <a type="button" class="btn btn-lg btn-default" href="https://devcenter.heroku.com/articles/getting-started-with-php"><span class="glyphicon glyphicon-flash"></span> Getting Started with PHP</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://github.com/heroku/php-getting-started"><span class="glyphicon glyphicon-download"></span> Source on GitHub</a>
  </div>
</div>

  <h4>Please check out my soft skills as well as my technical skills below: </h4>
  <table class="table table-sm table-dark">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Skill</th>
      <th scope="col"># of Years</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Troubleshooting</td>
      <td>7</td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Website programming</td>
      <td>4</td>

    <tr>
      <th scope="row">3</th>
      <td>Back end Programming</td>
      <td>4</td>

    <tr>
      <th scope="row">4</th>
      <td>Project Management</td>
      <td>2</td>

    <tr>
      <th scope="row">5</th>
      <td>Microsoft Windows</td>
      <td>10</td>

    <tr>
      <th scope="row">6</th>
      <td>Microsoft Office</td>
      <td>10</td>

    <tr>
      <th scope="row">7</th>
      <td>Linux</td>
      <td>4</td>

    <tr>
      <th scope="row">8</th>
      <td>Wordpress</td>
      <td>2</td>

    </tr>

    </tbody>
  </table>


{% endblock %}
